In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
csv_path = "Resources/purchase_Data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Count the number of players
player_names = purchase_data["SN"].unique()
total = len(player_names)

num_players = pd.DataFrame({"Total Players": [total]})
num_players

   Total Players
0            576

In [5]:
# Count the Number of Unique Items
unique_items = purchase_data["Item ID"].unique()
unique = len(unique_items)

# Calculate the Average Purchase Price
average_price = purchase_data["Price"].mean()

# Count the Total Number of Purchases
number_purchases = purchase_data["Item Name"].count()

# Calculate the Total Revenue
total_revenue = purchase_data["Price"].sum()

# Input results to table
total_analysis = pd.DataFrame({"Item Number": [unique],
                              "Average Purchase Price": average_price,
                              "Total Number of Purchases": number_purchases,
                              "Total Revenue": total_revenue})

# Format pricing to dollars and cents
total_analysis["Average Purchase Price"] = total_analysis["Average Purchase Price"].map("${:.2f}".format)
total_analysis["Total Revenue"] = total_analysis["Total Revenue"].map("${:,}".format)

total_analysis

   Item Number Average Purchase Price  Total Number of Purchases Total Revenue
0          179                  $3.05                        780     $2,379.77

In [6]:
# Seperate list by gender
gender_df = purchase_data.groupby(["Gender"])

# Group gender counts
gender_list = gender_df["SN"].nunique()

# Group genders by percentage
percent = (gender_list / total)*100

# List the total count and percent
gender_count = pd.DataFrame({"Total Count": gender_list, "Percentage": percent})

# Sort the Row Headers
gender_sort = gender_count.sort_values("Total Count", ascending = False)

# Define the percentage value
gender_sort["Percentage"] = gender_sort["Percentage"].map("{:.2f}%".format)

gender_sort

                       Total Count Percentage
Gender
Male                           484     84.03%
Female                          81     14.06%
Other / Non-Disclosed           11      1.91%

In [13]:
# Count # of items purchased by gender
purchased_items = gender_df["Purchase ID"].count()

# Calculate average purchase price by gender
average_purchase = gender_df["Price"].mean()

# Calculate total purchase value by gender
total_purchase = gender_df["Price"].sum()

# Calculate average purchase total per person by gender
average_total = total_purchase / gender_list
average_total

# Input results to table
total_gender = pd.DataFrame({"Purchase Count": purchased_items,
                              "Average Purchase Price": average_purchase,
                              "Total Purchase Value": total_purchase,
                              "Average Purchase Total per Person by Gender": average_total})

# Format the values
total_gender["Average Purchase Price"] = total_gender["Average Purchase Price"].map("${:.2f}".format)
total_gender["Total Purchase Value"] = total_gender["Total Purchase Value"].map("${:,.2f}".format)
total_gender["Average Purchase Total per Person by Gender"] = total_gender["Average Purchase Total per Person by Gender"].map("${:.2f}".format)

total_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56