In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
csv_path = "Resources/purchase_Data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Count the number of players
player_names = purchase_data["SN"].unique()
total = len(player_names)

num_players = pd.DataFrame({"Total Players": [total]})
num_players

   Total Players
0            576

In [5]:
# Count the Number of Unique Items
unique_items = purchase_data["Item ID"].unique()
unique = len(unique_items)

# Calculate the Average Purchase Price
avg_price = purchase_data["Price"].mean()

# Count the Total Number of Purchases
num_purchases = purchase_data["Item Name"].count()

# Calculate the Total Revenue
total_revenue = purchase_data["Price"].sum()

# Input results to table
pur_analysis = pd.DataFrame({"Item Name": [unique],
                              "Average Purchase Price": avg_price,
                              "Total Number of Purchases": num_purchases,
                              "Total Revenue": total_revenue})

# Format pricing to dollars and cents
pur_analysis["Average Purchase Price"] = pur_analysis["Average Purchase Price"].map("${:.2f}".format)
pur_analysis["Total Revenue"] = pur_analysis["Total Revenue"].map("${:,}".format)

pur_analysis

   Item Name Average Purchase Price  Total Number of Purchases Total Revenue
0        179                  $3.05                        780     $2,379.77

In [33]:
# Calculate the percentage of Male Players
gender_df = purchase_data.groupby(["Gender"])

# Group gender counts
gender_list = gender_df["SN"].nunique()

# Group genders by percentage
percent = (gender_list / total)*100

# List the total count and percent
gender_demo = pd.DataFrame({"Total Count": gender_list, "Percentage": percent})

# Sort the Row Headers
gender_sort = gender_sort.sort_values("Total Count", ascending = False)

# Define the percentage value
gender_sort["Percentage"] = gender_sort["Percentage"].map("{:.2f%}").format
                                        
gender_sort

TypeError: 'str' object is not callable